@{
    ViewData["Title"] = "关于我们";
}
<h2>@ViewData["Title"]</h2>

<br />
<h4>懒虫工作室拥有业内一流的攻城狮，经验丰富的项目经理，以专业的技术水平，优质的产品服务为您提供最优质的软件解决方案。</h4>
<br />
<h4><font color="#75000e">诚接java、.net、IOS、android、Web前端、嵌入式系统等项目</font></h4>
<p></p>

<h3>经典案例</h3>
<table class="table table-responsive">
    <caption class="text-left"><h4>IOS</h4></caption>
    <thead>
        <tr>
            <th>项目名称</th>
            <th>时间</th>
            <th>项目负责人</th>
            <th>项目简介</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>CGTN</td>
            <td>2016年</td>
            <td>Eden.Gu</td>
            <td>一款面向海外的新闻客户端</td>
        </tr>
        <tr>
            <td>汇姑娘</td>
            <td>2015年</td>
            <td>Eden.Gu</td>
            <td>提供货币兑换买入价卖出价查询，财经新闻显示与评论。</td>
        </tr>
        <tr>
            <td>螃蟹秘密</td>
            <td>2015年</td>
            <td>Eden.Gu</td>
            <td>基于IOS手机客户端的电商软件，支持在线直播功能。</td>
        </tr>
        <tr>
            <td>联想社区</td>
            <td>2015年</td>
            <td>Eden.Gu</td>
            <td>联想社区手机客户端</td>
        </tr>
        <tr>
            <td>联想商城</td>
            <td>2014年</td>
            <td>Eden.Gu</td>
            <td>联想旗下用于购买商品的购物平台</td>
        </tr>
    </tbody>
</table>
<table class="table table-responsive">
    <caption class="text-left"><h4>Android</h4></caption>
    <thead>
        <tr>
            <th>项目名称</th>
            <th>时间</th>
            <th>项目负责人</th>
            <th>项目简介</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>宅男福利</td>
            <td>2016年</td>
            <td>CK</td>
            <td>仿爱壁纸的手机互联网图片浏览下载软件</td>
        </tr>
    </tbody>
</table>
<table class="table table-responsive">
    <caption class="text-left"><h4>JAVA</h4></caption>
    <thead>
        <tr>
            <th>项目名称</th>
            <th>时间</th>
            <th>项目负责人</th>
            <th>项目简介</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>宅男福利</td>
            <td>2016年</td>
            <td>CK</td>
            <td>宅男福利服务端</td>
        </tr>
        <tr>
            <td>汇姑娘</td>
            <td>2016年</td>
            <td>CK</td>
            <td>汇姑娘服务端</td>
        </tr>
    </tbody>
</table>