@{
    ViewData["Title"] = "联系我们";
}
<h2>@ViewData["Title"]</h2>

<address>
    <table>

        <tr>
            <td>谷  总:</td>
            <td>tel-18602238153</td>
        </tr>
        <tr>
            <td>蔡经理:</td>
            <td>QQ-779348407</td>
        </tr>
    </table>
</address>
